body {
    background-color: black;
    font-family: arial;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1 {
    color: grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align: center;
}

form {
    margin: 0px 16px;
}

.row {
    display: flex;
    margin: 8px 0; 
}

.row > span {
    flex: 1;
}

.row > div {
    flex: 2;
}

.submit {
    margin: 24px 0;
}

.btn {
    width: 100%;
    background-color: green;
    color: white;
    border: 0;
    padding: 8px 12px;
    border-radius: 6px;
}

.result {
    display: none;
    background-color: #eaeaea;
    padding: 16px;
    border-radius: 12px;
}

footer {
    margin-top: 24px;
}